<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar id="menuToolBarID"> <span>Menu</span></mat-toolbar>
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <app-header-page title="Factura Electrónica"></app-header-page>
      <div class="dark-mode">
        <mat-slide-toggle
        [(ngModel)]="isDarkThemeActive"
        color="primary"
        (ngModelChange)="onChange($event)"
        class="custom-switcher-pos"
        matTooltip="Modo Oscuro"
        checked="isDarkThemeActive"
        ></mat-slide-toggle>
        <mat-icon matSuffix class="fa-icon-class" *ngIf="isDarkThemeActive">dark_mode</mat-icon>
        <mat-icon matSuffix class="fa-icon-class" *ngIf="!isDarkThemeActive">light_mode</mat-icon>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <section class="overflow-auto" style="width: 100%">
      <div id="layout-container">
        <router-outlet></router-outlet>
      </div>
      <!-- <app-footer></app-footer> -->
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>


